@media screen and (max-width: 768px) {
  header .container {
    display: flex;
    flex-direction: column;

    margin-bottom: 1.5rem;
  }

  .button {
    margin-top: 0.5rem;
    width: 15rem;
    height: 5rem;
  }
}

@media screen and (min-width: 1020px) {
  .description {
    width: 40%;
  }
}
